node_modules

## Ignore all environment files everywhere
# Common .env names
.env
.env.*
*.env
.envrc

# Recurse into subfolders (for older Git versions or tools)
**/.env
**/.env.*
**/*.env

# Build outputs
**/dist
**/build

# Caches
**/.cache
**/.vite
**/.turbo

# Logs
logs
**/logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
debug.log

# OS junk
**/.DS_Store
**/Thumbs.db

.cache_ggshield